@model IEnumerable<SocialWorkout.Models.MailMassageContent>

@{
    ViewBag.Title = "CHECJNE";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<h2>CHECJNE</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SenderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Massage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReciverID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SenderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Massage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReciverID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
