
@{
	ViewBag.Title = "tryLayout";
	Layout = "~/Views/Shared/_DashBoardLayout.cshtml";

}
@model IEnumerable<SocialWorkout.Models.User>
<head>

	<!--     Fonts and icons     -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<!-- Jquery-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			crossorigin="anonymous"></script>


	<link href="~/Content/ProgressBar.css" rel="stylesheet" />


</head>
<section ng-app="IndexApp">

	<div ng-controller="IndexCtrl">

		<main role="main" class="container">

			<div class="my-3 p-3 bg-white rounded box-shadow">
				<h6 class="border-bottom border-gray pb-2 mb-0">
					SUGGESTIONS
				</h6>

				@foreach (var item in Model)
				{
				<div class="media text-muted pt-3">
					<img src="~/Content/UsersPhotos/@item.ImgSrc" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="" data-holder-rendered="true">
					<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
						<a href="details/@item.Id">	<strong class="d-block text-gray-dark">@Html.DisplayFor(modelItem => item.FirstName)</strong></a>
						@Html.DisplayFor(modelItem => item.preferens.Description)

						<small>

					
							<h4>Match Distance:@Html.DisplayFor(modelItem => item.distance)</h4>
						</small>
							

				
				</div>
				
				}
				<small class="d-block text-right mt-3">
					<a href="#">All updates</a>
				</small>
			</div>

			
		</main>

</section>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Email)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Password)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.FirstName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.LastName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Age)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Country)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Gender)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ImgSrc)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.distance)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Password)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Age)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Country)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Gender)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ImgSrc)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.distance)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
	}

</table>
</div>


<script>

var app = angular.module('IndexApp', []);
	app.controller('IndexCtrl', function ($scope, $http) {

		$scope.clicked = function myfunction() {

			var  username = $scope.follow;

			sessionStorage.setItem($scope.follow, $scope.follow);



		}





	});





</script>


