
@{

	Layout = null;

}
@model IEnumerable<SocialWorkout.Models.User>


<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--     Fonts and icons     -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<!-- Jquery-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			crossorigin="anonymous"></script>


	
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="~/Content/paper-dashboard-2-html-v2.0.0/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="~/Content/paper-dashboard-2-html-v2.0.0/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		Social Workout
	</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<!-- CSS Files -->
	<link href="~/Content/paper-dashboard-2-html-v2.0.0/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/paper-dashboard-2-html-v2.0.0/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
	<!--Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


	<style>


		i.nc-icon.nc-diamond {
			color: #66615B !important;
		}

		i.nc-icon.nc-bank {
			color: red !important;
		}

		p {
			color: #66615B !important;
		}
	</style>


</head>


<body class="" ng-app="LayoutApp" ng-controller="LayoutCtrl">
	<div class="wrapper ">
		<div class="sidebar" data-color="white" data-active-color="danger">
			<!--
		Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
	-->
			<div class="logo">
				<a class="simple-text logo-mini">
					<div class="logo-image-small">
						<img src="~/Content/UsersPhotos/{{User.ImgSrc}}">
					</div>
				</a>
				<a class="simple-text logo-normal">
					Social Workout

				</a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="active ">
						<a href='http://localhost:58948/Home/Index?uid={{User.Id}}'>
							<i class="nc-icon nc-bank"></i>
							<p>Dashboard</p>
						</a>
					</li>
					<li>
						<a href="http://localhost:58948/Home/friends">
							<i class="nc-icon nc-diamond"></i>
							<p>My friends</p>
						</a>
					</li>
					<li>
						<a href="http://localhost:58948/Home/ShowMesagges?uid={{User.Id}}">
							<i class="nc-icon nc-chat-33"></i>
							<p>Messages</p>
						</a>
					</li>
					<li>
						<a href="http://localhost:58948/Home/Events">
							<i class="nc-icon nc-bell-55"></i>
							<p>Events</p>
						</a>
					</li>
					<li>
						<a href="http://localhost:58948/Home/MyDetails/{{User.Id}}">
							<i class="nc-icon nc-single-02"></i>
							<p>My Profile</p>
						</a>
					</li>
					<li>
						<a href="http://localhost:58948/Home/ContactUs">
							<i class="nc-icon nc-tile-56"></i>
							<p>Contact Us</p>
						</a>
					</li>
		
					<li class="active-pro">
						<a href="http://localhost:58948/Home/Trainers">
							<i class="nc-icon nc-spaceship"></i>
							<p>Trainers</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<div class="navbar-toggle">
							<button type="button" class="navbar-toggler">
								<span class="navbar-toggler-bar bar1"></span>
								<span class="navbar-toggler-bar bar2"></span>
								<span class="navbar-toggler-bar bar3"></span>
							</button>
						</div>
						<a class="navbar-brand" href="#pablo">Welcome {{User.FirstName}}</a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-bar navbar-kebab"></span>
						<span class="navbar-toggler-bar navbar-kebab"></span>
						<span class="navbar-toggler-bar navbar-kebab"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navigation">

						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link btn-magnify" href="http://localhost:58948/">
									LogOut
									<i class="nc-icon nc-layout-11"></i>
									<p>
										<span class="d-lg-none d-md-block">Stats</span>
									</p>
								</a>
							</li>
							<li class="nav-item btn-rotate dropdown">
								<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="nc-icon nc-bell-55"></i>
									<p>
										<span class="d-lg-none d-md-block">Some Actions</span>
									</p>
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="http://localhost:58948/Home/Events">Events for me</a>

								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link btn-rotate" href="#pablo">
									<i class="nc-icon nc-settings-gear-65"></i>
									<p>
										<span class="d-lg-none d-md-block">Account</span>
									</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- End Navbar -->
			<!-- <div class="panel-header panel-header-lg">

			  <canvas id="bigDashboardChart"></canvas>


			</div> -->




			<div class="content">

				<!-- Header-->


				<header>
					<div class="container">

						<div class="jumbotron" style="     background-image: url(/Content/Images/team2.jpeg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat; background-image:url(/Content/Images/team2.jpeg)">
							<center>
								<h2 style="font-size: 81px;color: aliceblue;font-family: -webkit-pictograph;"><b>S</b>ocial Workout</h2>
							</center>
							<p style="color:aliceblue !important; text-align:center;">
								Welcome to <b>S</b>ocial Workout App, below you can see suggestions and accuracy of the matched users,
								the <span style="color:blue; background-color:white;">Blue</span> bar is showing the percent of the users accuracy
								that mathed to your profile.

							</p>
						</div>
				</header>


				<section ng-app="IndexApp">

					<div ng-controller="IndexCtrl">

						<main role="main" class="container">



							<div class="my-3 p-3 bg-white rounded box-shadow">
								<h6 class="border-bottom border-gray pb-2 mb-0">
									SUGGESTIONS
								</h6>

								@foreach (var item in Model)
								{
									<div class="media text-muted pt-3">
										<img src="~/Content/UsersPhotos/@item.ImgSrc" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="" data-holder-rendered="true">
										<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
											<a href="details/@item.Id">	<strong class="d-block text-gray-dark">@Html.DisplayFor(modelItem => item.FirstName) (@Html.DisplayFor(modelItem => item.Age))</strong></a>
											@Html.DisplayFor(modelItem => item.preferens.Description)




											<div class="progress" style="    width: 36%;">
												<div class="progress-bar progress-bar-striped active" role="progressbar"
													 aria-valuenow="@Html.DisplayFor(modelItem => item.distance)" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(modelItem => item.distance)%">
													@Html.DisplayFor(modelItem => item.distance)%
												</div>
											</div>


									</div>

								}
								<small class="d-block text-right mt-3">

								</small>
							</div>


						</main>

				</section>

				<section>


					<main role="main" class="container">



						<div class="my-3 p-3 bg-white rounded box-shadow">
							<h6 class="border-bottom border-gray pb-2 mb-0">
								Sport Events Of the week
							</h6>


							<div id="accordion">
								<div class="card">
									<div class="card-header" id="headingOne">
										<h5 class="mb-0">
											<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
												Go running with moshe
											</button>
										</h5>
									</div>

									<div id="collapseOne" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion">
										<div class="card-body">
										Every sunday and monday we go out with the friends who like to run and never get tired :-)
											<button id="Attending1" type="button" class="btn btn-light">Attending</button>


										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<h5 class="mb-0">
											<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												Play Socer with tzach
											</button>
										</h5>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
										<div class="card-body">
											Every saturday we collect team of 11 players to play socer, herry up to register !
											<button id="Attending2" type="button" class="btn btn-light">Attending</button>

										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<h5 class="mb-0">
											<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												Swimming With Adi
											</button>
										</h5>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
										<div class="card-body">
										Adi is what your looking for if talking about SWIMMING, the group is 7 peoples and go swimming every monday and friday,
											so if you like swimming dont miss it out.
											<button id="Attending3" type="button" class="btn btn-light">Attending</button>

										</div>
									</div>
								</div>
							</div>

						</div>


					</main>


				</section>

			</div>
		</div>
	</div>
	<script>

		var app = angular.module('LayoutApp', []);
		app.controller('LayoutCtrl', function ($scope, $http) {

			

			$http.get("http://localhost:58948/api/users/@Session["Customer"].ToString()").then(function (response) {

				$scope.User = response.data;
				user = response.data;


			});

		});


	</script>


	<script>

		var app = angular.module('IndexApp', []);
		app.controller('IndexCtrl', function ($scope, $http) {

			$scope.clicked = function myfunction() {

				var username = $scope.follow;

				sessionStorage.setItem($scope.follow, $scope.follow);



			}





		});
	</script>

	<script>

		var sendDetails = function (eventName) {

		var userID = '@Session["Customer"].ToString()';

			var SendingObject = { EventName: eventName, userId: userID};

			var url = "http://localhost:58948/api/Users/ReciveEvent";

			$.ajax({
				type: "POST",
				url: url,
				data: JSON.stringify(SendingObject),
				dataType: "json",
				contentType: "application/json"
			});


		};


		var att1 = document.getElementById("Attending1");
		var att2 = document.getElementById("Attending2");
		var att3 = document.getElementById("Attending3");
		var may1 = document.getElementById("Maybe1");
		var may2 = document.getElementById("Maybe2");
		var may3 = document.getElementById("Maybe3");

		att1.addEventListener("click", function () {
			console.log("clicked");
			sendDetails("Event1");
		});

		att2.addEventListener("click", function () {
			sendDetails("Event2");
		});

		att3.addEventListener("click", function () {
			sendDetails("Event3");
		});



	</script>



	<!--   Core JS Files   -->
	<script src="~/Content/paper-dashboard-2-html-v2.0.0/assets/js/core/jquery.min.js"></script>
	<script src="~/Content/paper-dashboard-2-html-v2.0.0/assets/js/core/popper.min.js"></script>
	<script src="~/Content/paper-dashboard-2-html-v2.0.0/assets/js/core/bootstrap.min.js"></script>
	<script src="~/Content/paper-dashboard-2-html-v2.0.0/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
	<!-- Chart JS -->
	<script src="~/Content/paper-dashboard-2-html-v2.0.0/assets/js/plugins/chartjs.min.js"></script>
	<!--  Notifications Plugin    -->
	<script src="~/Content/paper-dashboard-2-html-v2.0.0/assets/js/plugins/bootstrap-notify.js"></script>


	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="~/Content/paper-dashboard-2-html-v2.0.0/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="~/Content/paper-dashboard-2-html-v2.0.0/assets/demo/demo.js"></script>


</body>
